extends layout

block content
	p= 'There was an error communicating with the Discord API. Please try again later. If the issue persists, email us at contact-ms@3v.fi.'
	p
		strong Ensure you are not in 100 Discords already.
		| Discord has a server cap of 100 after which they return an unspecific error when trying to join more.