- var discord_url = "https://discord.com/api/oauth2/authorize?client_id=" + discord_client_id + "&redirect_uri=" + discord_callback + "&response_type=code&scope=" + discord_scopes + "&state=" + session_id
- var twitch_url = "https://id.twitch.tv/oauth2/authorize?client_id=" + twitch_client_id + "&redirect_uri=" + twitch_callback + "&response_type=code&scope=" + twitch_scopes + "&state=" + session_id + "&force_verify=true"
- var t = title + " - MS Gatekeeper"
- var discord_link = `https://discord.com/channels/${guild_id}`

doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(description="Moderation Station Gatekeeper. Link your accounts!")
		title= t
		link(rel="stylesheet" href=`${base_path}/main.css`)
	body
		div#fl
			h1 Moderation Station Discord
			block content
